.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}
.imageContainer {
  img {
    border-radius: 10%;
  }
}

.info {
  margin-top: 20px;
  .title {
    font-weight: bold;
  }
  .date {
    color: gray;
  }
}