
.imageContainer {
  img {
    border-radius: 3%;
  }
}

.info {
  text-align: center;
  margin-top: 20px;
  .title {
    font-weight: bold;
    max-width: 200px;
    color: white;
  }
  .date {
    color: gray;
  }
}